body {
  background-color: #E6E7E8;
  color:#004461;
  font-size: 14pt;
  font-family:"Manrope";
}

.container {
    display: flex; 
}

.item {
    text-align:center;
  }

div{
    text-align: center;
}

.info{
    padding:20px;
}

.btn{
    margin:20px;
}

.btn span{
    color:white;
    background-color:#004461;
    padding:10px 40px 10px 40px;
}


.list div{
    margin:10px;
}

.about{
    margin-left:15%;
    width:70%;
}

.footer img{
    height:40px;
    width:40px;
}

.footer{
    flex-direction: column;
    justify-content:space-evenly;
}

header{
    color:white;
    background-color:#004461;
    justify-content:space-evenly;
    font-size: 1.5em;
    padding:20px;
}

header a{
    color:white;
    text-decoration: none;
}

.footer a{
    color:#004461;
    text-decoration: none;
}



#leftSide{
    width:50%;
    align-items:center;
}

#leftSide img{
    width:70%;
      
}

#rightSide{
    width:50%;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
   
}

#rightSide img{
    width:70%;
}
